<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/form.css">

    <title>Rainbow Six Wiki</title>
</head>

<body>

    <div id="mainContainer">

        <div id="containerForm">

        </div>

        <div id="containerFormUpdate">

        </div>

    </div>

    <header>

        <h1>OPERATORS</h1>
        <div id="displayFormBtn" class="btnForm">
            <div class="containerbtn">
                <a id="displayModal" class="button" onclick='' style="--color:#1e9bff;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    ‎‎‎ Create<br>Operators
                </a>
            </div>
            <div class="containerbtn">
                <a class="button" href="#" style="--color:#1e9bff;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    ‎‎‎ Search<br>Operators
                </a>
            </div>
        </div>

    </header>

    <main>

        <div id="operator" class="container oplist__cards__wrapper">
            <div class="card-container">

            </div>
        </div>

    </main>

    
    <script src="../model/characters.js"></script>
    <script src="../model/charactersManager.js"></script>
    <script src="../main.js"></script>
</body>

</html>